html
	head
		title David Luo
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css', type="text/css")
		style
			include:scss resume.scss
	body
		.container
			section#info
				h1 David Luo
				.row
					.col-xs-6
						.box
							.mail
								| mail@dsluo.me
							.phone
								| (678) 250-8011
					.col-xs-6.text-right
						.box
							a(href='https://dsluo.me') https://dsluo.me
							br
							a(href='https://www.github.com/dsluo') github://dsluo
							br
							a(href='https://www.linkedin.com/in/david-luo-1294a5114/') linkedin://dsluo
							// Because apparently this tag has length.
							//br
			section#academics
				h2 Academics
				.row
					.col-xs-8
						strong Unviversity&nbsp;of&nbsp;Georgia
						| , Bachelors&nbsp;of&nbsp;Science in Computer&nbsp;Science
					.col-xs-4.text-right
						| est. grad. Spring&nbsp;2019
				.row
					.col-xs-9
						| GPA: 3.74 &mdash; Dean's List &mdash; Zell&nbsp;Miller Scholarship Recipient
					.col-xs-3.text-right
						| 2016-2018
			section#skills
				h2 Software Development Skills
				ul
					li
						strong Languages
						|  &mdash; Python, Java, C/C++, Kotlin, Shell Scripts
					li
						strong Operating Systems
						|  &mdash; Linux/Unix, Windows
					li
						strong Development Tools
						|  &mdash; Version Control (Git/Github), Jetbrains IDEs, Javadoc, GDB, Regular Expressions
					li
						strong Databases
						|  &mdash; PostgreSQL, SQLite, MongoDB
					li Experience in Android Development.
			section#projects
				h2 Projects
				div
					.row.middle-xs
						h3.col-xs SoundBert
						.col-xs.text-right
							a.project-link(href='https://github.com/davidsluo/SoundBert') https://github.com/davidsluo/SoundBert
					ul
						li
							| A chat bot written in Python3 for the 
							a(href='https://discord.gg') Discord
							|  voice and text chat service that plays sounds in voice channels on command.
						li
							| Uses the 
							a(href='https://github.com/Rapptz/discord.py') discord.py
							|  library to interact with the Discord API, asyncio for concurrency, and a PostgreSQL database to store metadata about each sound.
				div
					.row.middle-xs
						h3.col-xs Sorting Gifs
						.col-xs.text-right
							a.project-link(href='https://github.com/davidsluo/SortingGifs') https://github.com/davidsluo/SortingGifs
					ul
						li Visually demonstrates how various sorting algorithms work by sorting arrays of colors.
						li
							| Used 
							a(href='http://python-pillow.org/') Python Imaging Library
							|  to generate gifs.
				div
					h3 Frogify
					ul
						li Hackathon project developed with a team of four that allowed an audience to vote on the order of a playlist.
						li Backend written in Python, using the Django framework.
						li Interacted with Spotify API through OAuth2 using 
							a(href='http://docs.python-requests.org') requests
							|  library.
			section#experience
				h2 Work Experience
				.row
					.col-xs-9
						strong Software Development Intern
						| &mdash;
						i Hunter Liberty Corporation &mdash; Acworth, GA
					.col-xs-3.text-right
						| Summer 2017
				ul
					li 
						| Developed an Android app that allowed configuration of refridgeration controllers over a serial connection using the 
						a(href='https://en.wikipedia.org/wiki/Modbus') Modbus-ASCII
						|  protocol.
					li App enabled users to view and program operational variables on controllers without having to carry cumbersome laptops into industrial refridgerators.
			section#coursework
				h2 Coursework
				.row
					.col-xs-12.col-sm-6
						div
							.row
								strong.col-xs-7 Computer Networks
								.col-xs-5.text-right Spring 2018
							ul
								li Developed a basic HTTP server, DNS client, and simple file transfer protocol.
						.row
							strong.col-xs-7 Algorithms
							.col-xs-5.text-right Spring 2018
						.row
							strong.col-xs-7 Computer Architecture
							.col-xs-5.text-right Spring 2018
						div
							.row
								strong.col-xs-7 Data Structures
								.col-xs-5.text-right Fall 2017
							ul
								li Implemented common data structures, such as Linked Lists and Binary Search Trees, as well as various sorting algorithms, like Merge Sort and Quick Sort.
					.col-xs-12.col-sm-6
						.row
							strong.col-xs-7 Theory of Computation
							.col-xs-5.text-right Summer 2017
						.row
							strong.col-xs-7 Discrete Mathematics
							.col-xs-5.text-right Spring 2017
						div
							.row
								strong.col-xs-7 Systems Programming
								.col-xs-5.text-right Spring 2017
							ul
								li
									| Created several common Unix command line utilties in C++, including an ncurses-based
									| text editor, tools for file manipulation, and a shell that featured job control.
						.row
							strong.col-xs-7 Software Development
							.col-xs-5.text-right Fall 2016
