/* global stuff */

:root {
    --page-width: 8.5in;
    --page-height: 11in;
    --page-margin: 0.25in;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    margin: var(--page-margin);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0.33em;
}

h1 {
    font-size: 3em;
}

h1,
h2 {
    border-bottom: 1px solid black;
    text-transform: uppercase;
}

a {
    color: inherit;
    text-decoration-color: #00000040;
    text-decoration-style: underline;
}

/* elements */

.nobreak {
    display: inline-block;
}

.badge-list {
    padding-left: 0;
}

.badge-list > li {
    border: 1px dashed #7c7c7c7c;
    border-radius: 5px;
    padding: 2px;
    display: inline-block;
    margin-bottom: 4px;
}

/* contact layout */

#contact-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "mail phone location"
        "website linkedin github";
}

#mail {
    grid-area: mail;
}

#phone {
    grid-area: phone;
}

#location {
    grid-area: location;
}

#website {
    grid-area: website;
}

#linkedin {
    grid-area: linkedin;
}

#github {
    grid-area: github;
}

/* job info layout */

#job-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.25em;
}

#job-info > span {
    flex-basis: 50%;
}

/* page layout */

.page {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--page-width);
    min-height: var(--page-height);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: max-content max-content auto auto;
    grid-template-areas:
        "header header"
        "left academics"
        "left right"
        "footer footer";
    grid-gap: 0.5em;
}

.card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: var(--page-margin);
}

header {
    grid-area: header;
}

.left {
    grid-area: left;
}

#academics {
    grid-area: academics;
}

.right {
    grid-area: right;
}

footer {
    grid-area: footer;
}

/* responsiveness */

/* tablets */

@media (max-width: 768px) {

    /* page layout */

    .page {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "academics"
            "left"
            "right"
            "footer";
    }

    .card {
        box-shadow: none;
        padding: 0;
    }
}

/* phones */

@media (max-width: 425px) {

    /* global stuff */

    ul {
        padding-left: 1.5em;
    }

    /* job layout */

    #job-info > span {
        flex-basis: 100%;
    }

    /* contact layout */

    #contact-info {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "mail website"
            "phone linkedin"
            "location github";
    }
}

/* print */

@media print {
    a {
        text-decoration-style: none;
    }
}